/* ===== GALLERY COMMON ===== */
.gallery-section {
  padding: 30px 0;
  background: #fef7f7dd;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* ===== HEADER ===== */
.gallery-header {
  gap: 20px;
  margin-bottom: 20px;
}

.gallery-title {
  font-size: 32px;
  font-weight: 700;
  color: #111;
}

.gallery-toggle-group {
  display: flex;
  gap: 10px;
}
.gallery-toggle-btn {
  padding: 6px 18px;
  border-radius: 999px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.gallery-toggle-btn:hover {
  border-color: #f3a668e5;
  color: #f3a668e5;
}

.gallery-toggle-btn.active {
  background: #f3a668e5;
  border-color: #f3a668e5;
  color: #ffffffd6;
}

/* ===== PHOTO GALLERY ===== */
.photo-gallery {
  margin-top: 10px;
}

.gallery-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.gallery-item {
  background: #ebdfdf;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 6px 18px rgba(77, 77, 77, 0.08);
}

.gallery-item img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
}

.gallery-caption {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
}


/* ===== VIDEO GALLERY ===== */
.video-gallery {
  margin-top: 30px;
}

/* ===== VIDEO GRID ===== */
.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.video-card {
  background: #ebdfdf;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(77, 77, 77, 0.08);
  height: 250px;
}

.video-card video {
  width: 100%;
  height:230px;
  border-radius: 10px;
  object-fit: cover;
}

.video-card p {
  margin-top: 5px;
  font-weight: 600;
  font-size: 14px;
}

/* ===== FOOTER ===== */
.gallery-footer {
  margin-top: 35px;
  text-align: center;
}

.view-more-btn,
.view-less-btn {
  padding: 12px 34px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

.view-more-btn {
  background: #f3a668e5;
  border: none;
}

.view-less-btn {
  background: #fff;
  border: 1px solid #f3a668e5;
  color: #f3a668e5;
}


/* RESPONSIVE */
/* @media (max-width: 992px) {
  .gallery-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gallery-items {
    grid-template-columns: 1fr;
  }

  .video-grid {
    grid-template-columns: 1fr;
  }

  .video-card video {
    height: 180px;
  }
} */
/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .gallery-items,
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .gallery-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .gallery-items,
  .video-grid {
    grid-template-columns: 1fr;
  }
}