@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/robotoregular.woff2') format('woff2'),
       url('../fonts/robotoregular.woff') format('woff'),
       url('../fonts/robotoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-bold.woff2') format('woff2');
  font-weight: 700;
}

h1, h2, h3 {
  font-weight: 700;
}

html, body {
  font-family: 'robotoregular', Arial, sans-serif;
}


/* ===== GLOBAL LAYOUT ===== */
.container .mid-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Remove list bullets from navbar */
.main-navbar ul,
.main-navbar li {
  list-style: none;
  margin: 0;
  padding: 0;
}
