/* Section spacing */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.rti-section {
  background-color: #f9f9f9;
  min-height: 80vh;
}

/* Heading */
.rti-heading {
  text-align: center;
  margin-bottom: 25px;
}

/* Title */
.rti-section-title {
  font-size: 26px;
  font-weight: 600;
  color: #333;
  /* margin: 0 auto; */
  margin-right: 50px;
  padding: 0;
}

/* Divider aligned with title */
.rti-section-divider {
  width: 100px;
  height: 3px;
  background: linear-gradient(to right, #ff9900, transparent);
  margin: auto;
  padding: 0;
}

/* Table Container */
.rti-table-container {
  overflow-x: auto;
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

/* Table */
.acts-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px;
}

.acts-table th,
.acts-table td {
  border: 1px solid #ddd;
  padding: 12px 10px;
  text-align: left;
  font-size: 14px;
}

/* Header */
.acts-table thead {
  background-color: #dd6d05;
}

.acts-table thead th {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

/* Row hover */
.acts-table tbody tr:hover {
  background-color: #f3f3f3;
}

/* Mobile adjustments */
@media (max-width: 480px) {
  .section-title {
    font-size: 16px;
  }

  .rti-table-container {
    padding: 15px;
  }

  .rti-table th,
  .rti-table td {
    padding: 10px;
    font-size: 12px;
  }

  .rti-table td:first-child {
    width: 50px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .section-title {
    font-size: 17px;
  }

  .rti-table-container {
    padding: 20px;
  }

  .rti-table th,
  .rti-table td {
    padding: 12px;
    font-size: 13px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }

  .rti-table th,
  .rti-table td {
    font-size: 15px;
  }
}
