<nav class="main-navbar" id="navbar">
    <div class="container">
      <ul class="nav-list" id="navList">
        <li class="home-icon">
          <a href="#" onclick="goHome(); return false;"><i class="fa fa-home"></i></a>
        </li>

        <li class="dropdown">
          <a href="#" onclick="showAboutPage(); return false;">ABOUT US</a>
            <ul class="dropdown-menu">
            <li><a href="#" onclick="showAboutPage(); return false;">ABOUT ODISHA STATE ARCHAEOLOGY</a></li>
            <li><a href="#" onclick="showStaffingPatternPage(); return false;">STAFFING PATTERN</a></li>
          </ul>
        </li>

        <!-- <li class="dropdown">
          <a href="#">ARCHAEOLOGY</a>
          <ul class="dropdown-menu">
            <li><a href="#">Excavations</a></li>
            <li><a href="#">Under Water Archaeology</a></li>
            <li><a href="#">Site Museums</a></li>
          </ul>
        </li> -->

        <!-- <li class="dropdown">
          <a href="#">INSTITUTE</a>
          <ul class="dropdown-menu">
            <li><a href="#">About Institute</a></li>
            <li><a href="#">Training</a></li>
          </ul>
        </li> -->

        <!-- <li class="dropdown">
          <a href="#">EPIGRAPHY</a>
          <ul class="dropdown-menu">
            <li><a href="#">Inscriptions</a></li>
            <li><a href="#">Research</a></li>
          </ul>
        </li> -->

        <li class="dropdown">
          <a href="#archaeology-library" onclick="showArchaeologyLibraryPage(); return false;">ARCHAEOLOGY LIBRARY</a>
          <ul class="dropdown-menu">
            <li><a href="#books-journals" onclick="showBooksJournalsPage(); return false;">Books & Journals</a></li>
            <li><a href="#">E-Books</a></li>
            <li><a href="#library" onclick="showLibraryDetailPage(); return false;">Library</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#monuments" onclick="showMonumentsPage(); return false;">MONUMENTS</a>
          <ul class="dropdown-menu">
            <li><a href="#monuments-central" onclick="showMonumentsCentralPage(); return false;">Central Protected Monument</a></li>
            <li><a href="#state-monuments" onclick="showStateMonumentsPage(); return false;">State Protected Monument</a></li>
            <li><a href="#unprotected-monuments" onclick="showUnprotectedMonumentsPage(); return false;">Unprotected Monument</a></li>
          </ul>
        </li>

        <li><a href="#act-rules" onclick="showActRulesPage(); return false;">ACT & RULES</a></li>
        <li><a href="#rti" onclick="showRTIPage(); return false;">RTI</a></li>
        <li><a href="#gallery" onclick="showGalleryPage(); return false;">GALLERY</a></li>
        <li><a href="#news" onclick="showNewsPage(); return false;">NEWS</a></li>
        <li><a href="#contact-us" onclick="showContactUsPage(); return false;">CONTACT US</a></li>
      </ul>
    </div>
</nav>
