<nav class="main-navbar">
    <div class="container">
      <ul class="nav-list" id="navList">
        <li class="home-icon">
          <a href="#" onclick="goHome(); return false;"><span>🏠</span></a>
        </li>

        <li class="dropdown">
          <a href="#">About Us</a>
            <ul class="dropdown-menu">
            <li><a href="#" onclick="openAboutPage(); return false;">About Odisha State Archaeology</a></li>
            <li><a href="#">Staffing Pattern</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#">Archaeology</a>
          <ul class="dropdown-menu">
            <li><a href="#">Excavations</a></li>
            <li><a href="#">Under Water Archaeology</a></li>
            <li><a href="#">Site Museums</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#">Institute</a>
          <ul class="dropdown-menu">
            <li><a href="#">About Institute</a></li>
            <li><a href="#">Training</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#">Conservation</a>
          <ul class="dropdown-menu">
            <li><a href="#">Monuments</a></li>
            <li><a href="#">Preservation</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#">Epigraphy</a>
          <ul class="dropdown-menu">
            <li><a href="#">Inscriptions</a></li>
            <li><a href="#">Research</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#">Manuscripts</a>
          <ul class="dropdown-menu">
            <li><a href="#">Palm Leaf</a></li>
            <li><a href="#">Paper Manuscripts</a></li>
          </ul>
        </li>

        <li><a href="#">Online Manuscripts</a></li>
        <li><a href="#">Publication</a></li>
        <li><a href="#">E-Publication</a></li>
        <li><a href="#">Library</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
</nav>
