<div class="breadcrumb-bar">
  <div class="container">
    <nav class="breadcrumb">
      <a href="#" class="breadcrumb-item" onclick="goHome(); return false;"
        >Home</a
      >
      <span class="breadcrumb-separator">&gt;&gt;</span>
      <span class="breadcrumb-item active">RTI</span>
    </nav>
  </div>
</div>

<section class="rti-section">
  <div class="rti-heading">
    <h2 class="rti-section-title">RTI</h2>
    <div class="rti-section-divider"></div>
  </div>
  <div class="container">
    <div class="rti-table-container">
      <table class="acts-table">
        <thead>
          <tr>
            <th>Sl. No.</th>
            <th>RTI</th>
            <th>Name Of The Officer</th>
            <th>designation</th>
            <th>Address</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>
              Odisha Development Authorities (Planning and Building Standards)
              Act & Rules 2020.
            </td>
            <td>Mrs. Devjani Bhuyan</td>
            <td>Public Information Officer</td>
            <td>Odisha State Archaeology, Unit-V, Bhubaneswar-751001</td>
            <td>0437012345</td>
          </tr>

          <tr>
            <td>2.</td>
            <td>Orissa Ancient Monuments Preservation Rule, 1958</td>
            <td>Dr. Rudra Prasad Behera</td>
            <td>Asst. Curator</td>
            <td>Sanskruti Bhawan, 1st Floor, Kalpana Square, Bhubaneswar</td>
            <td>06742432147</td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Orissa Ancient Monuments Preservation Act, 1956</td>
            <td>Dr. Rudra Prasad Behera</td>
            <td>Asst. Curator</td>
            <td>Sanskruti Bhawan, 1st Floor, Kalpana Square, Bhubaneswar</td>
            <td>06742432147</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
